<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <rewrite>
              <rules>
                <rule name="Redirect Root to /health for Server IP" stopProcessing="true">
                  <match url="^$" />
                  <conditions>
                    <add input="{REMOTE_ADDR}" pattern="^(127\.0\.0\.1|::1|192\.168\.1\.100|3\.131\.0\.85|52\.7\.176\.26|18\.228\.74\.197)$" />
                  </conditions>
                  <action type="Redirect" url="/health" redirectType="Permanent" />
                </rule>
              </rules>
            </rewrite>
            <modules>
                <remove name="WebDAVModule" />
            </modules>
            <handlers>
                <remove name="WebDAV" />
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
        </system.webServer>
    </location>
</configuration>
